* {
    margin: 0;
}

.background {
    background: url(../images/rick-morty.jpg) no-repeat center / cover fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.header {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-name {
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Covered By Your Grace', cursive;
}

.filter-planet {
    color: white;
    margin-bottom: 10px;
    font-family: 'Covered By Your Grace', cursive;
}

.cards-container {
    margin-top: 200px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.character-card {
    background-color: white;
    border: 5px solid rgb(40, 184, 59);
    border-radius: 25px;
    box-shadow: 7px 7px 5px #d1d1d1;
    width: 200px;
    height: 250px;
    display: flex;
    margin: 20px;
}

.image-character {
    width: 125px;
    margin: 10px;
    border-radius: 20px;
}

.container-card-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.character-card-one {
    background-color: white;
    border: 5px solid rgb(40, 184, 59);
    border-radius: 25px;
    box-shadow: 7px 7px 5px #d1d1d1;
    width: 850px;
    height: 450px;
    display: flex;
    margin: 20px;
}

.name-card-one {
    position: fixed;
    transform: translateY(90px);
    font-size: 60px;
    font-family: 'Covered By Your Grace', cursive;
    color: black;
}

.image-one {
    margin-top: 50px;
    border: 7px solid rgb(23, 196, 173);
    border-radius: 25px;
}

.specie-one {
    color: black;
    font-size: 25px;
    position: fixed;
    transform: translate(350px, -180px);
}

.planet-one {
    color: black;
    font-size: 25px;
    position: fixed;
    transform: translate(350px, -140px);
}

.episodes-one {
    color: black;
    font-size: 25px;
    position: fixed;
    transform: translate(350px, -100px);
}

.cross {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(23, 196, 173);
    position: fixed;
    transform: translate(360px, 50px);
    box-shadow: 4px 4px 2px #181818;
    text-decoration: none;
}

.dead {
    width: 400px;
    position: fixed;
    transform: translate(210px, -60px);
}