* {
    margin: 0;
}

.background {
    background: url(../images/rick-morty.jpg) no-repeat center / cover fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.search {
    color: rgb(133, 133, 133);
    font-size: 12px;
    font-size: 12px;
    transform: translateX(-120px);
    @media all and (min-width: 768px) {
        transform: translateX(-120px);
    }
}

.header {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    @media all and (min-width: 768px) {
        flex-direction: row-reverse;
    }
}

.logo {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media all and (min-width: 768px) {
        width: 600px;
    }
}

.filter-planet-container {
    display: flex;
    flex-direction: column;
}

.filter-planet-label {
    color: #25dbbd;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Covered By Your Grace', cursive;
}

.container-filter {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media all and (min-width: 768px) {
        width: 300px;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.cardsDetail {
    padding: 0;
}

.character-card {
    background-color: #25dbbdb0;
    border: 5px solid rgb(40, 184, 59);
    border-radius: 25px;
    box-shadow: 7px 7px 5px #25dbbd;
    width: 170px;
    display: flex;
    margin: 20px;
    @media all and (min-width: 768px) {
        width: 200px;
        height: 320px;
    }
}

.character__image {
    width: 170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    @media all and (min-width: 768px) {
        width: 200px;
    }
}

.container-card-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.character-card-one {
    background-color: white;
    border: 5px solid rgb(40, 184, 59);
    border-radius: 25px;
    box-shadow: 7px 7px 5px #25dbbd;
    width: 200px;
    display: flex;
    margin: 20px;
    @media all and (min-width: 768px) {
        width: 850px;
        height: 450px;
    }
}

.name-card-one {
    /*    width: 100px; */
    font-size: 20px;
    font-family: 'Covered By Your Grace', cursive;
    color: black;
    transform: translateY(270px);
    @media all and (min-width: 768px) {
        position: fixed;
        width: 400px;
        font-size: 60px;
        transform: translateY(90px);
    }
}

.image-one {
    border-radius: 25px;
    width: 200px;
    margin-bottom: 40px;
    @media all and (min-width: 768px) {
        border: 7px solid rgb(23, 196, 173);
        margin-top: 50px;
        margin-bottom: 0px;
        width: 300px;
    }
}

.specie-one {
    padding: 5px;
    color: black;
    font-size: 18px;
    @media all and (min-width: 768px) {
        padding: 0px;
        font-size: 25px;
        position: fixed;
        transform: translate(350px, -130px);
    }
}

.planet-one {
    padding: 5px;
    color: black;
    font-size: 18px;
    @media all and (min-width: 768px) {
        padding: 0px;
        font-size: 25px;
        position: fixed;
        transform: translate(350px, -90px);
    }
}

.episodes-one {
    padding: 5px;
    color: black;
    font-size: 18px;
    @media all and (min-width: 768px) {
        padding: 0px;
        font-size: 25px;
        position: fixed;
        transform: translate(350px, -50px);
    }
}

.reset {
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: white;
    background-color: rgb(23, 196, 173);
    box-shadow: 4px 4px 2px rgb(40, 184, 59);
    text-decoration: none;
    font-size: 12px;
    @media all and (min-width: 768px) {
        transform: translate(120px, -45px);
    }
}

.cross {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(23, 196, 173);
    position: fixed;
    transform: translate(-50px, 0px);
    box-shadow: 4px 4px 2px #181818;
    text-decoration: none;
    @media all and (min-width: 768px) {
        transform: translate(360px, 50px);
    }
}

.cross-fail {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(23, 196, 173);
    position: fixed;
    transform: translate(-90px, -150px);
    box-shadow: 4px 4px 2px #181818;
    text-decoration: none;
    @media all and (min-width: 768px) {
        transform: translate(360px, -180px);
    }
}

.dead {
    width: 400px;
    position: fixed;
    transform: translate(170px, -150px);
}

.container-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.character-name {
    border-radius: 25px;
    width: auto;
    transform: translateY(-20px);
    background-color: #ffffff;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 24px;
    color: black;
}

.character-specie {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
}

.character-planet {
    font-size: 16px;
    color: black;
}

.link {
    text-decoration: none;
}

.filter-name-input {
    color: black;
    width: 170px;
    height: 30px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.712);
    border: 3px solid #25dbbd;
    border-radius: 25px;
    box-shadow: 7px 7px 5px rgb(40, 184, 59);
    cursor: pointer;
}

.filter-planet-select {
    color: black;
    width: 178px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.712);
    border: 3px solid #25dbbd;
    border-radius: 25px;
    box-shadow: 7px 7px 5px rgb(40, 184, 59);
    cursor: pointer;
}

.filter-planet-image {
    transform: translateY(5px);
    height: 20px;
}

.image-fail {
    width: 200px;
    border-radius: 20px;
    @media all and (min-width: 768px) {
        width: 1000px;
    }
}

.container-card-fail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.character-card-fail {
    background-color: white;
    border: 5px solid rgb(40, 184, 59);
    border-radius: 25px;
    box-shadow: 7px 7px 5px #25dbbd;
    width: 200px;
    height: 200px;
    display: flex;
    margin: 20px;
    @media all and (min-width: 768px) {
        width: 750px;
        height: 350px;
    }
}